


p {
    margin: 0.3em 0em 0.3em 0em;
    line-height: 1.2em;
}

a {
	text-decoration: none;
	color: #0000ff;
	background: none;
}
a:visited {
	color: #9a16b6;
}
a:active {
	color: #faa700;
}

/*body {font-size:100%}*/
body { -webkit-text-size-adjust: 100%; }
body { -webkit-overflow-scrolling: touch; }

.fillScreen { height:100%;overflow:hidden}



button::-moz-focus-inner {   padding: 0;    border: 0  } /*Making firefox buttons behave like other browsers*/

input[type='text'],input[type='number'],textarea {font-size:16px;}

div.vPassword{
  border:black 2px solid;
  position:fixed;
  top:50%;
  left:40%;
  margin:0;
  padding:10px;
  background:lightgray;
}
 

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}


td,th {border-width:inherit;border-style:inherit }
tr {border-width:inherit;border-style:inherit }
tbody,thead {border-width:inherit;border-style:inherit }


button.highStyle, select { box-sizing:border-box; height:2.5em; font-size:0.8em; margin:0.5 0.5; padding:0 0.2em; font-size: inherit;vertical-align:middle;background-color:#eee;border-radius:0.4em}


.devAppList td, .userAppList td { background-color: #ccc;}


.listHead {margin:.5em 0 0}
.listHead span[name=siteName] { margin-left:1em}
.listHead span[name=link] { margin-left:2em}
.listHead span {cursor:pointer}
.listHead img {transform:scale(1.5,1.5);margin:0.3em auto;display:block}

.listHead span[name=version], .listHead span[name=boOther] { min-width:1.5em;}
.listHead span[name=execute] { visibility:hidden}
.listHead span[name=image] { visibility:hidden}



.popupHover {
  position:absolute;
  z-index:200; 
  padding: 0.2em;
  margin-left: .7em;
  margin-top: .3em;
  max-width: 16em;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}

.fixedArea {margin:0em 0; text-align:center; position:fixed; bottom:0; width:100%; background:#fff}



.blanket{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity:0.5;
  position: fixed;
  top:0px;
  z-index: 9001;
}

.Center-Container {
  position: relative;
}

.Center {
  max-width:300px;
  min-width:200px;
  overflow: auto;  
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #eeeeee;
  box-sizing: border-box;
  border:1px solid;
  z-index: 9002;
  transform: translate(-50%,-50%);
}

*.unselectable {
   -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    -o-user-select: none;
    user-select: none; /* CSS3 */
}

.message{
  border:black 1px solid;
  position:absolute;
  bottom:0%;
  right:0%;
  margin:0;
  padding:1px;
  background-color:#F7F700;
  font-size: 0.8em;
  z-index: 10000;
}



.btn-round {
  text-align: center;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  border: 1px solid;
  display: inline-block;
  text-decoration: none;
  line-height: 1.7em;
  cursor: default
}
.helpButtonGradient {
  background-image: radial-gradient(#daeaff, #8cbdfd, #0064ea);;
  color: #5780a8;
  border: 0;
  font-weight: bold;
  font-size: 90%;
}
